@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo text-center">
                                <h4>Diabetes Tracking</h4>
                            </div>
                            <form class="pt-3" asp-controller="Account" asp-action="Register" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="FirstName" placeholder="FirstName" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="LastName" placeholder="LastName" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-lg" name="Age" placeholder="Age" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" name="Email" placeholder="Email" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" name="Password" placeholder="Password" required>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input"> Kişisel verilerimin işlenmesine yönelik aydınlatma metnini okudum ve anladım.
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Hesabınız var mı? <a asp-controller="Account" asp-action="Login" class="text-primary">Giriş Yap</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
</body>

